.App {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(130deg, #fa693b 0%, #783179 100%);
  color: white;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

body {
  font-family: "Lato", sans-serif;
}

h1 {
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 48px;
}

p {
  letter-spacing: 1px;
  font-size: 14px;
  color: #333333;
}

.flex {
  /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-col {
  /*Flexbox for containers*/
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.Mui-disabled {
  -webkit-text-fill-color: rgba(0, 0, 0, 1) !important;
}